.section-bill-detail {
  padding: 40px;
  .container {
    width: 50%;
  }
  .title {
    padding-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }
  .bill {
    .title-bill {
      padding-bottom: 20px;
      font-size: 22px;
      font-weight: 600;
    }
    .bill-info {
      padding-bottom: 20px;
      font-size: 18px;
      .left {
        display: inline-block;
        width: 300px;
      }
      .right {
        font-weight: 500;
      }
    }
  }
  .list-product {
    padding-top: 20px;
    border-top: 1px solid #eee;
    .item-cart {
      display: flex;
      margin-bottom: 20px;
      border-bottom: 1px solid #eee;
      .img-product-cart {
        width: 30%;
        padding: 20px;
      }
      .info-product-cart {
        position: relative;
        width: 70%;
        padding-left: 20px;
        .name-product {
          display: block;
          padding: 0;
          font-weight: normal;
          margin-bottom: 15px;
          text-transform: none;
          font-size: 20px;
          color: #0a0a0b;
        }
        .attribute-product {
          margin-bottom: 15px;
          font-size: 14px;
          color: #666;
        }
        .price {
          float: right;
          margin-bottom: 15px;
          font-size: 16px;
          font-size: 500;
        }
        .quantity-product {
          .quantity {
            margin: 0;
            width: 30px;
            height: 30px;
            background-color: white;
            border: 1px solid #ebeaea;
            outline: none;
            text-align: center;
          }
        }
        .fa-trash {
          position: absolute;
          top: 5px;
          right: 0;
          cursor: pointer;
        }
      }
    }
  }
}
