.section-profile {
  padding: 20px;
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-profile {
    padding-bottom: 40px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
  }
  .form-row {
    width: 500px;
    .form-group {
      margin-bottom: 20px;
      label {
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
      }
      input {
        font-size: 18px;
      }
    }
    .title-info {
      margin-bottom: 20px;
      display: inline-block;
      font-size: 18px;
    }
    .info {
      float: right;
      font-size: 18px;
      font-weight: 500;
    }
  }
  .action-profile {
    margin-top: 20px;
    .btn {
      width: 200px;
      margin: auto 10px;
      font-size: 16px;
    }
  }
}
