.revenue {
  height: 100%;
  .title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  .overview-revenue {
    margin-top: 50px;
    .title-overview-revenue {
      text-align: left;
    }
    .select-time {
      margin-bottom: 20px;
    }
  }
}
