html {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: map-get($color, text-black);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
#root {
  min-height: 100vh;
  background-color: map-get($color, secondary);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
